{% template main %}
{% liquid
  assign fill_screen = trmnl.plugin_settings.custom_fields_values.fill_screen
%}
<div class="layout layout--stretch layout--center gap--none m--0 p--0" style="position: relative;">
  {% if image_url %}
    <img class="image {% if fill_screen == 'true' %}image--cover{% else %}image--contain{% endif %} image-dither rounded w--auto h--auto w--max-full h--max-full"
      {% if fill_screen == 'true' %}style="object-position: center;"{% endif %}
      src="{{ image_url }}" alt="{{ image_path }}" />
  {% else %}
    <div class="flex flex--center">
      <div class="label">No images found.</div>
    </div>
  {% endif %}
</div>

<div class="title_bar">
  <span class="title">Nextcloud</span>
  <span class="instance">{{ image_path | split: '/' | last }}</span>
</div>
{% endtemplate %}
